body {
    background-image: url('assets/bg1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
}

#logo{
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 100px;
}



button {
    transition: all .5s ease;
    color: #000;
    background-color:rgb(0, 255, 255);
    border: 3px solid rgb(0, 255, 255);
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    padding: 10px;
    outline: none;
    border-radius: 4px;
    float: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}
button:hover {
    color: rgb(0, 255, 255);
    background-color: transparent;
    border: 3px solid rgb(0, 255, 255);
}