<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  section {
    position: relative;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
   section .Container {
        width: 20000px;
        margin: 0 100px;
        display: flex;
        justify-content: center;
        align-items: left;
        flex-direction: column-reverse;
}
=======
.intro {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    display: flex;
}
>>>>>>> dc13574588bb7b5ac20751576da8d2dc88e31b57
